/* =============
table of contents
===============

1. ul class .flex
      1.1 sub HTML + css + JavaScript
      1.2 sub sub of CSS


/* ===============
  1.  ul class .flex
================ */

.flex {
  display: flex;
}

.main-list {
  padding: 20px;
  font-size: 19px;
  position: relative;
  transition: 10s;
}

.main-link {
  padding: 8px 15px;
  /* transition: 1s; */
}
.main-list:hover .main-link {
  color: cyan;
  box-shadow: 0px -2px 0px cyan;
  border-radius: 20px;
}
.main-link.active {
  color: cyan;
  box-shadow: 0px -4px 0px cyan;
  border-radius: 20px;
}

/* =======================================
1.1 sub HTML + css + JavaScript
======================================== */

.sub-ul {
  display: none;
  position: absolute;
  top: 69px;
  left: -15px;
  border-top: 1px solid cyan;
  background-color: #1b1b1b;
  border-radius: 15px;
  padding: 5px;
  width: 160px;
  box-shadow: 0px 10px 20px #1b1b1b;
}

.sub-of-js {
  left: 10px;
}

.sub-ul li {
  padding: 8px 4px;
  font-size: 17px;
  border-bottom: 1px solid #0a0a0a;
  transition: 10s;
}

.sub-ul li a:hover {
  color: cyan;
  font-weight: bold;
}

.main-list:hover .sub-ul {
  display: block;
}

/* =======================================
  1.2 sub sub of CSS
======================================== */

.sub-sub-ul {
  position: absolute;
  top: 85px;
  left: 155px;
  /* border-top: 1px solid cyan; */
  background-color: #1b1b1b;
  border-radius: 15px;
  box-shadow: 0px 10px 20px #1b1b1b;
  padding: 5px;
  width: 150px;
  display: none;
}

.mini-projects:hover .sub-sub-ul {
  display: block;
  transition: 10s;
}




